<header class="w-full bg-gradient-to-b from-black to-transparent pt-4">
    <div class="container mx-auto flex justify-between px-4 py-3 text-white">
        <a href="#" class="p-3 text-lg bg-gradient-to-br from-[#FF5A28] via-[#01B47C] to-[#FF5A28] rounded-lg text-white font-semibold px-5 shadow-md shadow-black text">Parte 3</a>
        <div class="grid grid-cols-1 absolute -right-52 bg-black gap-6 p-6 pt-0 rounded-lg top-4 duration-500 lg:flex lg:static lg:items-center lg:p-0 lg:divide-x-2 lg:divide-slate-500 lg:bg-transparent" #menu>
            <input type="checkbox" name="menu" id="checkbox" class="hidden" #menucheck>
            <label for="checkbox" class="-ml-20 text-2xl bg-black p-6 rounded-lg lg:hidden" (click)="openMenu()"><fa-icon [icon]="faBars"></fa-icon></label>
            <a href="/ecommerce" class="lg:pl-4 font-medium">       Vitrine e-Commerce</a>
            <a href="/page-api" class="lg:pl-4 font-medium">        Página com API pública</a>
            <a href="/teclas" class="lg:pl-4 font-medium">          Tecla Pressionada</a>
            <a href="/gerador-senha" class="lg:pl-4 font-medium">   Senhas Aleatórias</a>
            <a href="/unsplash-api" class="lg:pl-4 font-medium">    API Unsplash</a>
            <a href="/emoji" class="lg:pl-4 font-medium">           Emoji</a>
            <a href="" class="lg:pl-4 font-medium">                 Página para portifólio</a>
        </div>
    </div>
</header>
