<section class="w-screen min-h-screen h-auto relative">
    <app-header class="z-50"></app-header>
    <main class="container mx-auto flex justify-center min-h-screen h-auto items-center py-32">
        <router-outlet></router-outlet>
        <!-- <app-loading></app-loading> -->
    </main>
    <button (click)="openDialog()" class="fixed lg:bottom-16 lg:left-16 bottom-4 left-4 w-16 h-16 rounded-full bg-gradient-to-br from-main via-second to-main text-white z-10">
        <fa-icon [icon]="faFileLine"></fa-icon>
    </button>
    <app-footer class="absolute bottom-0"></app-footer>
</section>