<!-- <section class="grid grid-cols-2 lg:grid-cols-6 gap-4 p-2 overflow-auto" #section1> -->
<section class="container" #section1>

    <!-- <div class="w-screen lg:p-7 lg:px-0 p-5 px-0 shadow-inner shadow-black rounded-xl snap-proximity"> 
        <p class="lg:pb-7 pb-5 pl-5 text-white font-medium">Mais populares</p>
        <div class="grid grid-flow-col overflow-x-scroll lg:overflow-hidden overflow-y-hidden gap-5 snap-x scrollbar-hidden px-24">
            <div *ngFor="let item of arrItems" id="bg1" class="lg:w-[250px] lg:h-[370px] my-auto bg-slate-700 snap-center shadow-xl shadow-black rounded-lg overflow-hidden h-[259px] w-[175px]">
                <img class="w-auto h-auto" src="https://image.tmdb.org/t/p/w500{{ item.poster_path }}" alt="">
            </div>
        </div>
    </div> -->
    
    <div class="w-screen lg:p-7 lg:px-0 p-5 px-0 shadow-inner shadow-black rounded-xl snap-proximity"> 
        <p class="lg:pb-7 pb-5 pl-5 text-white font-medium">Mais populares</p>
        <div class="grid grid-flow-col overflow-x-scroll lg:overflow-hidden overflow-y-hidden gap-5 snap-x scrollbar-hidden px-24">
            <div id="bg1" class="post-path hover:rotate-90 hover:scale-x-150 duration-500">
                <div *ng></div>
            </div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
            <div id="bg1" class="post-path hover:rotate-90"></div>
        </div>
    </div>


</section>


